---
const { text, icon, href } = Astro.props;
---

<a
    href={href}
    class="group bg-gradient-to-r from-custom-1 via-custom-6 to-custom-2 text-black font-bold px-4 py-2 rounded-3xl flex items-center justify-center gap-2 w-60 transition-all duration-300 hover:scale-105"
>
    {text}
    {
        icon && (
            <img
                src={icon}
                alt={icon}
                class="w-7 h-7 invert transition-all duration-300 group-hover:rotate-90"
            />
        )
    }
</a>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('a[href^="#"]');
        links.forEach(link => {
            link.addEventListener('click', (e) => {
                e.preventDefault();
                const targetId = link.getAttribute('href');
                if (targetId === '#') return;
                
                const targetElement = document.querySelector(targetId || '');
                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: 'smooth' });
                }
            });
        });
    });
</script>
