---
import { Image } from 'astro:assets';
import Logo from "../../assets/logos/logo.png";
---

<div class=" flex items-center gap-2">
    <Image 
        src={Logo} 
        width={64} 
        height={64} 
        alt="Logo" 
        class="w-16 h-16"
        loading="eager"
    />
    <h1 class="text-white text-2xl font-bold">Luis Vasquez</h1>
</div>