---
import ButtonAction from "../atoms/buttonAction.astro";
import ButtonSocialMedia from "../atoms/buttonSocialMedia.astro";
import GithubIcon from "../../assets/icons/githubIcon.svg";
import LinkedinIcon from "../../assets/icons/linkedinIcon.svg";
import ArrowRightIcon from "../../assets/icons/arrowRightIcon.svg";
---

<div class="flex flex-col gap-6 text-white p-4 w-full md:w-1/2 items-center md:items-start">
    <div class="flex flex-col gap-2">
        <h1 class="text-5xl font-bold">¡Hola! <br> Soy Luis Vásquez</h1>
    </div>

    <p class="text-lg font-light text-gray-300">
        Soy desarrollador frontend y cofundador de NEOS AI con 2 años de
        experiencia en la creación de aplicaciones web.
    </p>
    <div class="flex gap-4">
        <ButtonSocialMedia iconButton={GithubIcon.src} />
        <ButtonSocialMedia iconButton={LinkedinIcon.src} />
    </div>
    <ButtonAction text="Ver mis proyectos" icon={ArrowRightIcon.src} href="#projects" />
</div>
