---
import LogoHeader from "../atoms/logoHeader.astro";
import Navbar from "../atoms/navbar.astro";
import ButtonDownloadCv from "../atoms/buttonDownloadCv.astro";
---
   
        <div class="relative z-10 flex flex-col md:flex-row items-center justify-center md:justify-between p-4 md:p-6">
            <LogoHeader />
            <Navbar />
            <ButtonDownloadCv />
        </div>
    
</div>
