---
import LogoHeader from "../atoms/logoHeader.astro";
import Navbar from "../organisms/navbar.astro";
import ButtonDownloadCv from "../atoms/buttonDownloadCv.astro";
---
   
<div class="relative z-10 flex items-center justify-between p-4 md:p-6">
    <!-- Logo visible solo en desktop -->
    <div class="hidden md:block ">
        <LogoHeader />
    </div>
    
    <!-- Navbar con logo incluido en móvil -->
    <div class="flex-1 md:flex-initial ">
        <Navbar />
    </div>
    
    <!-- Botón de CV -->
    <div class="hidden md:block ">
        <ButtonDownloadCv />
    </div>
</div>
