---
import InfoContent from "../molecules/infoContent.astro";
import InfoImage from "../atoms/infoImage.astro";
---

<div class="flex flex-col md:flex-row items-center justify-around ">
    <InfoContent />
    <InfoImage />
</div>