---
import InfoContent from "../molecules/infoContent.astro";
import InfoImage from "../atoms/infoImage.astro";
---

<div class="flex items-center justify-around  w-10/12">
    <InfoContent />
    <InfoImage />
</div>